body{
    font-family: 'Cabin', sans-serif;
    font-size:12px;
}

.serviceGroup {
    display:inline-block;
    vertical-align: top;
    margin-left:0;
    width:250px;
}
.serviceHeader {
    font-size: 1.5em;
    display:inline-block;
}
/*
.serviceContent{
    margin-left:2em;
}
*/
.serviceStatus{
    padding:0 1em;
}

.serverGroup {
    margin-left:1.5em;
    font-weight: normal;
}
.serverHeader {
    font-size: 1.25em;
    display:inline-block;
    /*font-weight: bold;*/
    /*font-color: darkblue;*/
    /*display:block;*/
    /*margin-left:2em;*/
    /*margin-top:0.5em;*/
}
.serverContent{
    margin-left:1.5em;
    /*display:block;*/
}

.checkSummary {
    margin-left:1em;
}
.checkSvg {
    display:block;
/*
    max-width:180px;
    max-height:180px;
*/
}
.checkHeader{
    font-size: 1em;
    display:inline-block;
    /*margin-left:1em;*/
}
.checkLabel {
    /*display:block;*/
/*
    font-weight:bold;
*/
}
.checkStatus {
    margin-left:1em;
}
.summaryLine1, .summaryLine2 {
    display:block;
    margin-left:2em;
}

.checkUnknown{
    background-color:orange;
    color: black;
}
.checkError{
    background-color:red;
    color: white;
}
.checkOk {
    background-color:lightgreen;
    color: black;
}

.tableHeader {
    font-color: darkgray;
}

.detailContainer{
    display:block;
}
.furtherDetail {
    margin-left: 0.5em;
    display:inline-block;
}
.toggleable {
}
.toggledIn {
/*
    background:mistyrose;
*/
}
.toggledOut {
/*
    background:lightyellow;
*/
}
.hideableHidden {
    display:none!important;
}
.collapser {
/*
    font-weight: bold;
*/
    font-family: FontAwesome;
/*
    padding-left:0.5em;
    padding-right:0.5em;
    padding-top:0.25em;
    padding-bottom:0.25em;
    margin-right: 0.25em;
*/
    /*border:1px solid lightgray;*/
    cursor:Pointer;
}
.serviceDataDescriptor {
    font-weight: bold;
}
.furtherDetailHidden {
    /*display:none;*/
}
.checkExpanded {
    margin-bottom:1em;
}
.checkCollapsed {
    display: none !important;
    margin-bottom:0em;
    border:none;
}
.checkExpanded .checkDetail {
    margin-top:0.5em;
}
.checkDetail {
    background-color:lightgray;
    border:1px solid gray;
    color: black;
    /*margin: 10px;*/
    /*padding: 10px;*/
}

/*
      #dashboardServerContainer .alwaysOn {
      margin: 1em;
      max-width: 45%;
      background: white;
      z-index:1;
      }
*/
.fullWidth {
    max-width: 100% !important;
    width: 100% !important;
    display: block !important;
    margin: 0em !important;
}
.partialWidth {
    max-width: 45% !important;
    display: inline-block !important;
    margin: 0.3em !important;
}
.promotedService {
    background-color: white !important;
    z-index:100 !important;
}
