svg {
    /*height:100vh;*/
    /*width:100vw;*/
    /*height:250px;*/
    /*width:250px;*/
    /*position:absolute;*/
    /*top:0;*/
    /*left:0;*/
    height:180px;
    /*display:block;*/
}

/*
.serviceLabel {
    font-family: sans-serif;
    font-size: 1em;
    fill: #0000ff;
}

.serverLabel {
    font-family: sans-serif;
    font-size: 0.75em;
    fill: #0000ff;
    //display:none;
}
.checkLabel {
    font-family: sans-serif;
    font-size: 0.5em;
    fill: #0000ff;
    //display:none;
}*/
g text {
    font-family: FontAwesome
}